*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #cb0a61;
    color: rgb(255, 233, 250);
    height: 100%; 
    width: 100%;
    text-align: center;
    line-height: 4.5rem;
}



h1 marquee{
    background-color: #000000;
    color: rgb(244, 32, 32);
    height: 100%; 
    width: 100%;
    text-align: center;
    line-height: 4.5rem;
}
.choice{
    height: 110px;
    width : 110px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: #ca7b0d 0px 15px 10px 0px;
}
.choice:hover{
cursor: pointer;
background-color: rgb(62, 132, 76);
 transform: scale(1.05);
  transition: 0.2s;
}
img{
    height: 90px;
    width: 90px;
    object-fit: contain;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
    position: relative;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 3rem;
}
#user-score, #computer-score{
    font-size: 4rem;
}
#msg{
    background-color: #081b31;
     margin-top: 2rem;
    color: white;
    height: 2rem;
    justify-content: center;
    line-height: 1.5rem;
    display: inline-block;
    font-size: larger;
    padding: 1rem;
    border-radius: 1rem;
}

/*---*/
 .result-emoji { 
  position: absolute;
  top: 90px; 
  left: 32%; 
  /* transform: translate(-0%, -50%);  */
  font-size: 90px;
  animation: bounce 0.3-s ease;
  z-index: 10; 
  display: none;
} 


 @keyframes bounce {
  0% { transform: translateY(0); }
  30% { transform: translateY(-15px); }
  50% { transform: translateY(0); }
  70% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}  


